body {
  font-family: sans-serif;
  background: #444;
}

body, div, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

#gameContainer {
  position: fixed:
  top: 0;
  left: 0;
  width: 720px;
  height: 400px;
  background: #faf6ff;
}
